.pure-player {
    position: relative;
    display: inline-block;
    width: auto;
    background: #000;
    font-family: 'Open Sans', sans-serif;
}

.pure-player:focus {
    outline: none;
}

.pure-player * {
    margin: 0;
    padding: 0;
    outline: none;
}

.pure-player ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pure-player .progress {
    height: 5px;
    background: #454548;
    cursor: pointer;
}

.pure-player .progress-wrap {
    width: 100%;
    height: 10px;
    box-sizing: border-box;
}

.pure-player .progress-position,
.pure-player .volume {
    height: 100%;
    width: 0;
    background: #15c0ff;
    position: relative;
}

.pure-player .progress-position:after {
    content: '';
    position: absolute;
    right: -3px;
    width: 9px;
    height: 9px;
    background: #ff0000;
    border-radius: 50%;
    top: -3px;
    border: 1px solid #fff;
}

.pure-player .progress-positionHide,
.pure-player .volume {
    height: 100%;
    width: 0;
    background: #15c0ff;
    position: relative;
}

.pure-player .loader {
    height: 100%;
    width: 0;
    background: rgba(21, 192, 255, 0.28);
    position: relative;
    top: -5px;
}

.pure-player video {
    position: relative;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.pure-player .controls-bar {
    background: rgba(51, 51, 51, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.pure-player .play-button {
    border: none;
    cursor: pointer;
    width: 25px;
    display: inline-block;
    background: transparent;
    vertical-align: bottom;
}

.pure-player .play-button:before {
    content: '';
    background: url(../img/play.png) no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    margin: auto;
}

.pure-player .play-button.pause:before {
    background: url(../img/pause.png) no-repeat;
}

.pure-player .control-buttons {
    display: inline-block;
    float: right;
    font-size: 12px;
}

.pure-player .full-size-icon {
    width: 40px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.pure-player .full-size-icon:before {
    content: '';
    background: url(../img/fullsize.png) no-repeat;
    width: 24px;
    height: 30px;
    display: block;
    margin: auto;
    margin-bottom: 2px;
}

.pure-player .volume-box {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.pure-player .volume-box > * {
    display: inline-block;
    vertical-align: middle;
}

.pure-player .volume-icon {
    background: url(../img/volume.png) no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.pure-player .volume-icon.volume-off {
    background: url(../img/volume-off.png) no-repeat;
}

.pure-player span.time {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding-bottom: 6px;
}

.pure-player .hovered {
    position: absolute;
    display: none;
    background: #000;
    top: -30px;
    color: #fff;
    opacity: 0.7;
    padding: 5px;
}

.pure-player .progress-wrap:hover .hovered {
    display: inline-block;
}

.canvas{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
